<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>商品详情</title>

    <th:block th:replace="common.html :: source"></th:block>
<!--
    <script type="text/javascript" th:src="@{/js/productDetail.js}"></script>
-->

</head>
<body>


<th:block th:include="common.html :: header"></th:block>
<th:block th:include="common.html :: category" ></th:block>


<div class="i_bg">
    <div class="postion">
    </div>
    <div class="content" style="margin-left: 900px">
        <div id="tsShopContainer" style="float:left;">
            <div id="tsImgS">
                <a title="Images" class="MagicZoom" id="MagicZoom">
                    <img th:src="'/images/'+${productDetail.fileName}" width="390" height="390" style="border:1px solid #EAEAEA;"/>
                </a>
            </div>
        </div>
        <div class="pro_des" >
            <div class="des_name">
                <input type="hidden" value="1"  name="entityId" class="n_ipt"/>
<!--                商品名字-->
                <p><span th:text="${productDetail.name}"></span></p>
                <!-- 商品一句话描述-->
                <b th:text="${productDetail.description}" ></b>
            </div>
            <div class="des_price">
                本店价格：<b th:text="${productDetail.price}" ></b>
            </div>
            <div class="des_price">
                 库存：<b id="stock" th:text="${productDetail.stock}" ></b>
            </div>
           <!-- <div class="des_choice">
                <span class="fl">型号选择：</span>
                <ul>
                    <li class="type checked">30ml
                        <div class="ch_img"></div>
                    </li>
                    <li class="type">50ml
                        <div class="ch_img"></div>
                    </li>
                    <li class="type">100ml
                        <div class="ch_img"></div>
                    </li>
                </ul>
            </div>
            <div class="des_choice">
                <span class="fl">颜色选择：</span>
                <ul>
                    <li class="color">红色
                        <div class="ch_img"></div>
                    </li>
                    <li class="color checked">白色
                        <div class="ch_img"></div>
                    </li>
                    <li class="color">黑色
                        <div class="ch_img"></div>
                    </li>
                </ul>
            </div>-->
            <br>
            <br>
            <div class="des_join">
                <div class="j_nums">
                    <input type="text" id="quantity"   value="0"  name="quantity" class="n_ipt"/>
                    <input type="button" id="buttonIncrease" value="" class="n_btn_1"/>
                    <input type="button"  id="buttonReduce" value=""  class="n_btn_2"/>
                </div>
                <input type="hidden" id="productId" th:value="${productDetail.id}">
                <input type="hidden" id="productPrice" th:value="${productDetail.price}">
                <input type="hidden" id="productStock" th:value="${productDetail.stock}">
                <span class="fl">
                    <!--加入购物车-->
                     <img src="/images/j_car.png" id="addToCart" />
                </span>

                <div id="resultInfo"></div>
            </div>
        </div>
    </div>
    <div class="content mar_20">
        <div id="favoriteList">
        </div>
        <div class="l_list">
            <div class="des_border">
                <div class="des_tit">
                    <ul>
                        <li class="current"><a href="#p_attribute">商品属性</a></li>
                        <li><a href="#p_details">商品详情</a></li>
                    </ul>
                </div>
                <!-- 商品属性  暂定用商品描述代替-->
                <div class="des_con">
                    <b th:text="${productDetail.description}" ></b>
                </div>
            </div>
            <div class="des_border" id="p_details">
                <div class="des_t">商品详情</div>
                <div class="des_con">
                    <table border="0" align="center" style="width:745px; font-size:14px; font-family:'宋体';" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>商品</td>
                        </tr>
                    </table>
                    <p align="center">
                        <img th:src="'/images/'+${productDetail.fileName}" width="185" height="155">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="common.html :: footer"></th:block>
<th:block th:include="common.html :: permit"></th:block>

</body>

<script type="text/javascript">
    $(function(){
        //给type绑定点击事件
        $(".type").click(function () {
            var index = $(".type").index(this);
            var obj = $(".type").eq(index);
            $(".type").removeClass("checked");
            obj.addClass("checked");
        });
        //给color绑定点击事件
        $(".color").click(function () {
            var index = $(".color").index(this);
            var obj = $(".color").eq(index);
            $(".color").removeClass("checked");
            obj.addClass("checked");
        });


        $('#addToCart').bind('click',function () {
            var stock = $("#productStock").val();
            var productId = $("#productId").val();
            var productPrice = $("#productPrice").val();
            var quantity = $("#quantity").val();
            //这里应该发送异步请求 而不是 直接跳转   ?id="+id+"&price="+price+"&quantity="+quantity+"&stock="+stock
            //window.location.href="/cart/add/"+id+"/"+price+"/"+quantity+"/"+stock;
            console.log("加入购物车");
            $.ajax({
                url:"/cart/add",
                data:{stock:stock,productId:productId,productPrice:productPrice,quantity:quantity},
                success:function (data) {
                    console.log(data);
                    if(data.code==1){
                        Msg.success("添加购物车成功！");
                        window.location.href="/product//detail/"+productId;
                    }else{
                        console.log(data);
                        Msg.fail(data.msg)
                    }
                }
            });
        });


        $('#buttonIncrease').bind('click',function () {
            var value = $("#quantity").val();
            var stock = $("#stock").text();
            value++;
            if(value > stock){
                value = stock;
            }
            $("#quantity").val(value);
        });

/*        //商品数量++
        function increase() {
            var value = $("#quantity").val();
            var stock = $("#stock").text();
            value++;
            if(value > stock){
                value = stock;
            }
            $("#quantity").val(value);
        }*/

        $('#buttonReduce').bind('click',function () {
            var value = $("#quantity").val();
            value--;
            if(value == 0){
                value = 1;
            }
            $("#quantity").val(value);
        })

    /*    //商品数量--
        function reduce() {
            var value = $("#quantity").val();
            value--;
            if(value == 0){
                value = 1;
            }
            $("#quantity").val(value);
        }*/
    });


</script>
</html>