<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品发布</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <th:block th:include="common.html :: source"></th:block>



<!--    &lt;!&ndash;使用axios来进行异步加载&ndash;&gt;
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <!--导入vue-->

    <script type="text/javascript" th:src="@{/js/system/publish.js}"/>


</head>
<template>
<body>

<th:block th:include="common.html :: header"></th:block>

<div class="publish_bg">
    <div class="top">
        <div class="logo"></div>
    </div>
    <div class="login">
        <div class="log_img"><img src="/images/l_img.png" width="611" height="425"/></div>
        <div class="log_c">
            <form id="publish_form" method="post">
                <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="55">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">发布商品</span>
                        </td>
                    </tr>
                    <tr height="70">
                        <td>商品名字</td>
                        <td><input type="text" name="name" id="name" class="l_user" required/></td>
                    </tr>
                    <tr height="70">
                        <td>商品描述</td>
                        <td><input type="text" name="description" id="description" class="l_user" required/></td>
                    </tr>
                    <tr height="70">
                        <td>商品库存</td>
                        <td><input type="number" name="stock" id="stock" class="l_user" required/></td>
                    </tr>
                    <tr height="70">
                        <td>商品价格</td>
                        <td><input type="number" name="price" id="price" class="l_user" required/></td>
                    </tr>
                    <tr height="70">
                        <td>商品分类</td>
                        <td>
                            <div id="test">
                                <select v-model="UnitSelected" name="categorylevelone_id">
                                    <option v-for="item in UnitList" :value="item.id" >{{item.name}}</option>
                                </select>

                                <select v-model="DepartmentSelected" name="categoryleveltwo_id">
                                    <option v-for="item in DepartmentList" :value="item.id" >{{item.name}}</option>
                                </select>

                                <select v-model="UserSelected" name="categorylevelthree_id">
                                    <option v-for="item in UserList" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr height="60">
                        <td> </td>
                        <td><input type="button" id="form_submit" value="发布商品" class="log_btn"></input></td>
                    </tr>
                        <!--发布商品的表单-->
                </table>
            </form>
            <div id="resultInfo" style="color: red"></div>
        </div>
    </div>
</div>

<th:block th:include="common.html :: footer"></th:block>
<th:block th:include="common.html :: permit"></th:block>

</body>
</template>
</html>
</html>